body{
  padding: 0;
  margin: 0;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif !important; 
}

* {
  box-sizing: border-box;
}

#root{
  position: relative;
    height: auto;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#root-image{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#root-image img{
  width: 100%;
  height: 100%;
}

#root-wrapper{
  background: rgba(15,12,41,0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(15,12,41,0.8)), color-stop(rgba(48,43,99,0.8)), to(rgba(36,36,42,0.8)));
  background: -o-linear-gradient(left, rgba(15,12,41,0.8), rgba(48,43,99,0.8), rgba(36,36,42,0.8));
  background: linear-gradient(to right, rgba(15,12,41,0.8), rgba(48,43,99,0.8), rgba(36,36,42,0.8));
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding: 50px;
  z-index: 999;
}

.forecast-wrapper, .weather-wrapper{
  padding: 0 ;
}

.input-wrapper{
  height: 36px;
}

.input-wrapper button{
  width: 85px;
  color: #fff;
  border-radius: none;
  margin-left: 5px;
  z-index: 999;
  background: #2595EA;
  background: #2185D0;
  border: none;
  height: 36px;
  cursor: pointer;
  border-radius: 3px;
}

.input-wrapper button:hover {
  background: #2185D0;
}

.main-input{
  width: calc(100% - 100px);
  height: 36px;
  padding: 0 5px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.forecast-wrapper .card{
  background: #2E2E46 !important;
  border-radius: 0 !important;
  border: none !important;
  color: #fff !important;
  opacity: 0.8 !important;
}

.forecast-wrapper>.ui.card>.content>.header{
  color: #fff !important;
}

.forecast-wrapper .card .content{
  border: 0 !important;
}

.forecast-wrapper .card .content i{
  font-size: 50px !important;
}

.weather-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon-description{
  padding-top: 0px !important;
  padding-bottom: 50px !important;
}

.icon-description h4{
  font-weight: 400 !important;
  font-size: 21px !important;
  margin-bottom: 14px;
}

.icon-description p{
  font-size: 15px;
}

.weather-wrapper{
  margin: 35px 0 !important;
  color: #fff;
}

.weather-wrapper h1{
  font-size: 70px;
  font-weight: 400;
}

.weather-wrapper h2{
  font-size: 56px;
  line-height: 90px;
  font-weight: 400;
}

.weather-wrapper h4{
  font-size: 23px;
  font-weight: 400;
}

.weather-wrapper p{
  font-size: 16px;
}

.weather-wrapper h4 img{
  line-height: 32px !important;
  height: 32px !important;
  margin-left: 3px; 
}

.top-row .column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-wrapper img{
  width: 80px;
  height: 80px;
}

.header-wrapper .header, .header-wrapper{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.purple{
  color: #4A0E3F;
}

.red{
  color: #99382A;
}

.fetching-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  height: calc(100vh - 136px);
  margin: 0 !important;
  font-size: 20px;
}

.forecast-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}

.forecast-item {
  max-width: 285px;
  min-width: 285px;
  height: 300px;
  background: rgb(46, 46, 70);
  border: 1px solid #fff;
  color: #fff;
  opacity: 0.8;
  padding: 0 10px;
}

.forecast-item h2 {
  font-size: 18px;
}