.main {
  height: 100vh;
  position: relative;
}

.main-background {
  overflow: hidden;
  height: 100%;
}

.main-background__image {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: block;
}

.main-weather {
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% - 300px);
  width: 100%;
  color: #fff;
  padding: 100px;
}

.weather-item__name {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #222A35;
  padding: 3px 8px;
  border-radius: 2px;
  display: inline-block;
  width: 100px;
  margin: 0 15px 0 0;
}

.main-forecast {
  position: absolute;
  height: 300px;
  width: 100%;
  background: rgba(65,60,74,0.8);
  left: 0;
  bottom: 0;
}

.forecast-wrapper {
  width: 1000px;
  margin: 50px auto;
  display: flex;
}

.forecast-items {
  width: 750px;
  display: flex;
  justify-content: space-between;
}

